@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .projects-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .single-feature-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .single-feature-group {
    grid-template-areas:
      "one two"
      "three three";
  }

  .single-feature:last-child {
    grid-area: three;
  }
  
  .projects-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .single-feature-group {
    grid-template-columns: repeat(3, 1fr);
  }

  .single-feature-group {
    grid-template-areas:
      "one two three";
  }

}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*************************************************/

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column-reverse;
  }

  .flex-50 {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
  }

  .about-content .about-text {
    padding: 3rem;
  }
}
